<ion-view hide-nav-bar="true" view-title="Moments">

    <!-- <ion-header-bar side="left" class="bar-stable bar-calm">
        <button menu-toggle="left" class="button button-clear icon ion-navicon"></button>
        <h1 class="title">Moments</h1>
        <button class="button button-clear ion-android-camera"></button>
    </ion-header-bar> -->


    <ion-tabs class="tabs-icon-top tabs-color-positive" ng-controller="HomeRootCtrl">

      <ion-tab title="Home"
                icon-on="ion-ios-navigate"
                icon-off="ion-ios-navigate-outline"
                ng-controller="HomeCtrl">
        <ion-header-bar side="left" class="bar-stable bar-calm">
          <button menu-toggle="left" class="button button-clear icon ion-navicon"></button>
          <h1 class="title">Moments</h1>
          <button ng-click="NewMessage()" class="button button-clear ion-android-camera"></button>
        </ion-header-bar>

        <ion-content has-tabs="true">
          <ion-refresher on-refresh="onRefresh()" refreshing-text="Refreshing..."></ion-refresher>
          <div class="list" ng-controller="ActionSheetCtrl">
            <a href="#" ng-click="showActionSheet()" class="item item-image">
              <img src="http://i59.tinypic.com/9giy69.jpg">
            </a>
          </div>

        <section class="ion-content-section">
          <div class="list">
            <a href="#/tab/profile" ng-click="ProfilCtrl" class="item item-avatar">
              <img src="http://i59.tinypic.com/2zoy8uw.jpg">
              <h2>蛤蛤</h2>
              <p>2015.07.12</p>
            </a>
            <a href="#/tab/view" class="item item-body">
              <p>
                This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                the content is from a card-body consisting of an image and paragraph text. The footer
                consists of tabs, icons aligned left, within the card-footer.
              </p>
              <img class="full-image" src="http://i62.tinypic.com/vn2jrt.jpg">
            </a>
            <div class="item tabs tabs-secondary tabs-icon-left">
              <p><a href="#" class="button button-clear ion-android-favorite-outline"></a></p>
              <p><a href="#" class="button button-clear ion-android-textsms"></a></p>
            </div>
          </div>
          
          <div class="list">
            <a href="#/tab/profile" class="item item-avatar">
              <img src="http://i62.tinypic.com/20qjfp3.jpg">
              <h2>蛤蛤蛤</h2>
              <p>2015.07.12</p>
            </a>
            <a href="#/tab/view" class="item item-body">
              <p>
                This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                the content is from a card-body consisting of an image and paragraph text. The footer
                consists of tabs, icons aligned left, within the card-footer.
              </p>
              <img class="full-image" src="http://i2.tietuku.com/5c3d4fe922bac278.jpg">
            </a>
            <div class="item tabs tabs-secondary tabs-icon-left">
              <p><a href="#" class="button button-clear ion-android-favorite-outline"></a></p>  
              <p><a href="#" class="button button-clear ion-android-textsms"></a></p>
            </div>
          </div>
        </ion-content>

      </ion-tab>

      <ion-tab title="Message"
                icon-on="icon ion-ios-email"
                icon-off="icon ion-ios-email-outline"
                ng-controller="MessageCtrl">

        <ion-header-bar class="bar-stable bar-calm">
          <button menu-toggle="left" class="button button-clear icon ion-navicon"></button>
          <h1 class="title">Message</h1>
          <button class="button button-clear">Clear</button>
        </ion-header-bar>

        <ion-content has-tabs="true">
          <ion-refresher on-refresh="onRefresh()"></ion-refresher>
          <div class="list">

              <a class="item item-avatar" href="#">
                <img src="http://i2.tietuku.com/dcdf744cacb4f4cf.jpg">
                <h2>Korosensei</h2>
                <p>The King of Terrors</p>
              </a>

              <a class="item item-avatar" href="#">
                <img src="http://i2.tietuku.com/dcdf744cacb4f4cf.jpg">
                <h2>Korosensei</h2>
                <p>The King of Terrors</p>
              </a>

          </div>

          <div class="backdrop-area" ng-controller="BackdropCtrl">
              <button ng-click="action()" class="button button-full button-positive">backdrop</button>
          </div>

          <ion-checkbox ng-model="isChecked">
            checkbox status:{{isChecked}}
          </ion-checkbox>

          <ion-radio ng-model="choice" ng-value="A">
            choose a
          </ion-radio>

          <ion-radio ng-model="choice" ng-value="B">
            choose b
          </ion-radio>

          <ion-radio ng-model="choice" ng-value="C">
            choose c
          </ion-radio>

          <ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">
            Air plane is toggled:{{toggle-test}}
          </ion-toggle>
          
          <div ng-controller="OnHoldCtrl">
            <button on-hold="onHold()" class="button button-calm button-full">onHoldTest-openPopOver</button>
          </div>
          
          <div ng-controller="PopupCtrl">
            <button ng-click="showInput()" class="button button-full button-balanced">input</button>
            <button ng-click="showConfirm()" class="button button-full button-calm">confirm</button>
            <button ng-click="showAlert()" class="button button-full button-assertive">alert</button>
          </div>

          <div>
            <button>12</button>
          </div>

          <script id="mypopover.html" type="text/ng-template">
            <ion-popover-view>
              <ion-header-bar>
                <h1>Popover Title</h1>
              </ion-header-bar>
              <ion-content>
                hello
              </ion-content>
            </ion-popover-view>
          </script>
          
        </ion-content>

      </ion-tab>

      <ion-tab title="Profile"
                icon-on="icon ion-ios-person"
                icon-off="icon ion-ios-person-outline"
                ng-controller="ProfileCtrl">

        <ion-header-bar class="bar-stable bar-calm">
          <button menu-toggle="left" class="button button-clear icon ion-navicon"></button>
          <h1 class="title">Profile</h1>
          <button class="button button-clear">Edit</button>
        </ion-header-bar>

        <ion-content has-tabs="true">
          <ion-refresher on-refresh="onRefresh()"></ion-refresher>
          <ion-list class="list">
            <div class="item item-divider">
              Viewer
            </div>

            <a class="item item-avatar" href="#/app/profile">
              <img src="http://i59.tinypic.com/2zoy8uw.jpg">
              <h2>ivy</h2>
              <p>the creator</p>
            </a>

            <a class="item" href="#">
              Friends
            </a>
            
            <a class="item" href="#">
              Favourites
            </a>

            <a class="item" href="#">
              Draft
            </a>

            <div class="item item-divider">
              More
            </div>

            <a class="item" href="#">
              Setting
            </a>

            <a class="item" href="#">
              Logout
            </a>

          </ion-list>
        </ion-content>
        
      </ion-tab>

    </ion-tabs>

    <ion-pane>
      
      <ion-content>

        </section>

      </ion-content>
    </ion-pane>

    </ion-view>