<ion-modal-view>
  <ion-header-bar class="bar-stable bar-calm">
    <div class="buttons">
      <button class="button button-clear" ng-click="CloseNewMessage()">Close</button>
    </div>
    <h1 class="title">Moments</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="CloseNewMessage()">Submit</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <textarea></textarea>
        </label>
      </div>
    </form>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable tabs-icon-only">
    <a class="button button-clear button-positive icon ion-android-image"></a>
    <a class="button button-clear button-positive icon ion-at"></a>
    <a class="button button-clear button-positive icon ion-android-happy"></a>
    <a class="button button-clear button-positive icon ion-ios-location"></a>
  </ion-footer-bar>
</ion-modal-view>
