<ion-view view-title="Browse">
  <ion-content>
    <ion-list 
    		ng-controller="ListCtrl"
    		show-delete="shouldShowDelete"
    		show-reorder="shouldShowReorder"
    		can-swipe="listCanSwipe">
    		<ion-toggle ng-model="shouldShowDelete">Show Delete?</ion-toggle>
  	<ion-toggle ng-model="shouldShowReorder">Show Reorder?</ion-toggle>
		<ion-item ng-repeat="item in items track by $index">
			{{item}}

			<ion-option-button class="button-positive" ng-click="share(item)">
				Share
			</ion-option-button>

			<ion-option-button class="button-info" ng-click="edit(item)">
				Edit
			</ion-option-button>
			
			<ion-delete-button class="ion-minus-circled" ng-click="items.splice($index,1)"></ion-delete-button>

			<ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item,$fromIndex,$toIndex)"></ion-reorder-button>

		</ion-item>
		<ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    </ion-list>
  </ion-content>
</ion-view>
