<ion-modal-view>
	<ion-header-bar class="bar-calm">
		<div class="buttons">
			<button class="button button-icon icon ion-ios-close-outline" ng-click="closeAboutModal()"></button>
		</div>
		<h1 class="title">About</h1>
	</ion-header-bar>

	<ion-content class="main-content-color">
		<div class="list card">
			<div class="item item-body">
				<img class="full-image" src="http://i2.tietuku.com/a3446852b448684d.jpg">
				<p>
					LOFTER是网易公司2011年8月下旬推出的一款轻博客产品。LOFTER专注于为用户提供简约、易用、有品质、重原创的博客工具、原创社区，以及有品质的手机博客应用。
				</p>
				<p>
			      <a href="http://ivydom.com" class="subdued">官网</a>
			    </p>
			</div>
		</div>
	</ion-content>
</ion-modal-view>