<ion-view view-title="Details">
	<ion-content class="padding main-content-color">
		<div class="list card">

	      <div class="item item-avatar">
	        <img src="http://pic3.zhimg.com/65655995f2b6118b1d2c366422c8308e_m.jpg">
	        <h2>蛤蛤</h2>
	        <p>年轻人不要习习蛤蛤胡搞毛搞</p>
	      </div>

	      <div class="item item-image">
	        <img src="http://pic2.zhimg.com/f5323f33869510391a1adabf34868385_r.jpg">
	      </div>

	      <a class="item item-icon-left assertive" href="#">
	        <i class="icon ion-music-note"></i>
	        大圣归来
	      </a>

	    </div>
	</ion-content>
</ion-view>