<ion-view view-title="Settings">
  <ion-content class="main-content-color">
  	<div class="list">
		
		<a class="item item-icon-left item-icon-right" ng-click="openFeedbackModal()">
		  <i class="icon ion-navigate calm"></i>
		  <h2>Feedback</h2>
		  <i class="icon ion-chevron-right icon-accessory"></i>
		</a>

  		<a class="item item-icon-left item-icon-right" ng-click="openAboutModal()">
		  <i class="icon ion-ionic calm"></i>
		  <h2>About</h2>
		  <i class="icon ion-chevron-right icon-accessory"></i>
		</a>
  	</div>
  </ion-content>
</ion-view>