<ion-modal-view>
  <ion-header-bar class="bar-stable bar-calm">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-close-outline" ng-click="closeModal()"></button>
    </div>
    <h1 class="title">Moments</h1>
    <div class="buttons">
      <button class="button button-icon icon button-clear ion-ios-checkmark-outline" ng-click="Submit()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <textarea></textarea>
        </label>
      </div>
    </form>
  </ion-content>

  <!-- <ion-footer-bar align-title="center" class="bar-stable tabs-icon-only">
    <a class="button button-clear button-positive icon ion-android-image"></a>
    <a class="button button-clear button-positive icon ion-at"></a>
    <a class="button button-clear button-positive icon ion-android-happy"></a>
    <a class="button button-clear button-positive icon ion-ios-location"></a>
  </ion-footer-bar> -->
  <div class="bar bar-footer bar-balanced bar-post">
    <button class="button button-full button-balanced">Submit</button>
  </div>
</ion-modal-view>
