<ion-view view-title="profile">
  <ion-content>
    <div class="list">

    	<a class="item item-icon-left" href="#">
		    <i class="icon ion-image icon-calm"></i>
		    Photo
		    <span class="item-note">
		      ivy
		    </span>
	  	</a>

		<a class="item item-icon-left" href="#">
		    <i class="icon ion-person icon-calm"></i>
		    Nickname
		    <span class="item-note">
		      ivy
		    </span>
	  	</a>

	  	<a class="item item-icon-left" href="#">
		    <i class="icon ion-transgender icon-calm"></i>
		    Gender
		    <span class="item-note">
		      Male
		    </span>
	  	</a>

	  	<a class="item item-icon-left" href="#">
		    <i class="icon ion-email icon-calm"></i>
		    E-mail
		    <span class="item-note">
		      admin@ivydom.com
		    </span>
	  	</a>

	  	<div class="item item-divider">
            Activities
        </div>

        <a class="item item-icon-left" href="#">
		    <i class="icon ion-location icon-calm"></i>
		    Region
		    <span class="item-note">
		      China
		    </span>
	  	</a>

	  	<a class="item item-icon-left" href="#">
		    What's up
		    <span class="item-note">
		      fuck u
		    </span>
	  	</a>

	</div>
  </ion-content>
</ion-view>
